# Archivos del sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Entornos virtuales de Python
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp/
.pnp.js
.npm
.yarn-integrity

# Archivos de configuración de IDE
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project

# Archivos de compilación y distribución
/dist
/tmp
/out-tsc
/bazel-out
/build

# Archivos de dependencias
/.pnp
.pnp.js

# Archivos de testing
/coverage
.nyc_output

# Archivos de entorno
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos de base de datos
*.sqlite
*.sqlite3
*.db

# Archivos de caché
.cache/
.parcel-cache/
.next/
.nuxt/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
